.hidden {
  display: none;
}

textarea {
  border-radius: 5px;
}

dl {
  padding: 0em .5em;
  font-family: monospace;
  overflow-wrap: break-word;
}

dl > dt {

}

dl > dd {
  margin: 0em 0em 1em 0em;
  padding: .25em 0em;
}

dl#locationDL > dd > input[type='text'] {
  width: 95%;
}

div#dragzone {
  color: lightgrey;
  /*
  border: 1px solid grey;
  border-radius: 30px;
  padding: 25px 25px; 
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  min-height: 100px;
  min-width: 200px;
  max-width: 600px;
}

fieldset#filesId > legend {
  display: none;
}

div#dragzone h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: relative;
  top: 15px;
}

.dragTarget {
  background-color: aliceblue;
  color: 
}

div#mapzone {
  width: auto;
  height: 350px;
  margin-bottom: 1em;
}

div#mapzone > div:first-child {
  border-radius: 15px;
}

fieldset.hiddenFieldset {
  display: none;
}

fieldset {
  border-radius: 15px;
  max-height: 400px;
  min-height: 100px;
  min-width: 200px;
  max-width: 610px;
  margin-left: 2%;
  margin-right: 4%;
  margin-bottom: 2%;
}

fieldset.tagSelect {
  border: none;
  min-height: 20px;
  max-width: 100%;
}

fieldset.urlFieldset {
  border: none;
  min-height: 20px;
}

legend {
  font-weight: 600;
}

div[id$='zone'] > * > fieldset {
  min-height: initial;
}

input[type='text']:disabled:hover {
  content: 'Edit the EXIF version of this value.'; 
}

input[type='text']#url_Id {
  width: 50%;
}

input[type='file'] {
  visibility: hidden;
}

input[type='radio'] {
  margin-right: 15px;
}

input[type='reset'] {
  margin-left: 2em;
}

span.or {
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

section#linkSection {
  margin: 1em;
}

section#linkSection > div {
  padding: 0em 5em 1em 0em;
}

section#linkSection > div > a {
  
}

section#metadataSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 450px));
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

section#metadataSection > div {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  height: fit-content
}

section#metadataSection > div#infozone {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

section#metadataSection > div#metazone {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

section#metadataSection > div#infozone > h3 {
  margin: .5em;
}

section#metadataSection > div#locationzone > h3 {
  margin: .5em;
}

section#metadataSection > div#metazone > h3 {
  margin: .5em;
}

section#metadataSection > div#contentzone > h3 {
  margin: .5em;
}

.smallImgPreview {
  max-width: 350px;
}

.mono {
  font-family: monospace;
}

pre {
  display: inline-block;
}

@media screen and (max-width: 430px) {
  input[type='file'] {
    visibility: visible;
  }

  input[type='text']#url_Id {
    width: 65%;
  }

  fieldset#filesId {
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    max-height: 55px;
    min-height: 50px;
    min-width: 200px;
    max-width: 600px; 
  }

  fieldset#filesId > legend {
    display: block;
    position: relative;
    top: 15px;
  }

  fieldset#filesId > div#dragzone {
    max-height: 55px;
    min-height: 50px;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  fieldset#filesId > div#dragzone h2,br {
    display: none;
  }

  .smallImgPreview {
    max-width: 275px;
  }

}


