div#dragzone {
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 30px;
  max-height: 400px;
  min-height: 100px;
  min-width: 200px;
  max-width: 600px;
  padding: 25px 25px; 
}

div#dragzone h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

