div#dragzone {
  color: lightgrey;
  /*
  border: 1px solid grey;
  border-radius: 30px;
  padding: 25px 25px; 
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  min-height: 100px;
  min-width: 200px;
  max-width: 600px;
}

div#dragzone h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.dragTarget {
  background-color: aliceblue;
  color: 
}

fieldset {
  border-radius: 30px;
  max-height: 400px;
  min-height: 100px;
  min-width: 200px;
  max-width: 600px;
}

input[type='file'] {
  display: none;
}

.smallImgPreview {
  max-width: 350px;
}

@media screen and (max-width: 430px) {
  input[type='file'] {
    display: block;
  }

  .smallImgPreview {
    max-width: 275px;
  }

}


