<footer>
  <section id="mastfoot">
    <h4>
      &copy; <%= (new Date()).getFullYear() %> <a href="/" title="<%= siteName %>"><%= siteName %></a> |
      <a href="/about" title="About <%= siteName %>">About</a> 
    </h4>
  </section>
</footer>
