    <section id="headerSection">
      <h1><%= siteName %></h1>
      <section id="">
        <h3>About</h3>
        <p>This little app grew out of the desire to better understand how
        metadata was stored inside image files, particularly geolocation data,
        while having practically zero knowledge of photography or graphic design.  </p>
      </section>
      <section id="builtwithSection">
        <h3>Built With...</h3>
        <p>The underlying functionality to read and edit metadata is provided
        by <a href="https://exiftool.org" title="exiftool"
                                          target="_blank">exiftool</a>, developed by Phil Harvey.  This is
        perhaps the most comprehensive, flexible, and powerful image metadata
        tool available.  And it's open-source!</p>
        <p>On top of exiftool, my own Node.js <a
        href="https://www.npmjs.com/package/@mattduffy/exiftool"
        title="exiftool package" target="_blank">package</a> provides an
    abstracted api to simplify the complex incantations required to interact
    with the metadata.</p>
      </section>
    </section>
