%Image::ExifTool::UserDefined::Shortcuts = (
    BasicShortcut => ['file:Directory','file:FileName','EXIF:CreateDate','file:MIMEType','exif:Make','exif:Model','exif:ImageDescription','iptc:ObjectName','iptc:Caption-Abstract','iptc:Keywords','Composite:GPSPosition'],
    Location => ['EXIF:GPSLatitudeRef', 'EXIF:GPSLatitude', 'EXIF:GPSLongitudeRef', 'EXIF:GPSLongitude', 'EXIF:GPSAltitudeRef', 
    'EXIF:GPSSpeedRef', 'EXIF:GPSAltitude', 'EXIF:GPSSpeed', 'EXIF:GPSImgDirectionRef', 'EXIF:GPSImgDirection', 'EXIF:GPSDestBearingRef', 'EXIF:GPSDestBearing', 
    'EXIF:GPSHPositioningError', 'Composite:GPSAltitude', 'Composite:GPSLatitude', 'Composite:GPSLongitude', 'Composite:GPSPosition'],
    Common => ['file:FileName', 'File:MIMEType', 'EXIF:CreateDate', 'Composite:Megapixels', 'Composite:ImageSize', 'EXIF:Make', 'EXIF:Model', 'EXIF:Artist', 'EXIF:Copyright', 'EXIF:OwnerName', 'EXIF:LensModel', 'EXIF:ImageDescription', 'EXIF:UserComment', 'XMP:Description', 'XMP:Subject', 'IPTC:Keywords', 'IPTC:Caption-Abstract', ],
    StripGPS => ['gps:all='],
    StripAllTags => ['-all='],
);
