%Image::ExifTool::UserDefined::Shortcuts = (
    BasicShortcut => ['file:Directory','file:FileName','EXIF:CreateDate','file:MIMEType','exif:Make','exif:Model','exif:ImageDescription','iptc:ObjectName','iptc:Caption-Abstract','iptc:Keywords','Composite:GPSPosition'],
    Location => ['EXIF:GPSLatitude', 'EXIF:GPSLongitude', 'EXIF:GPSAltitude', 'EXIF:GPSLatitudeRef', 'EXIF:GPSLongitudeRef', 'EXIF:GPSAltitudeRef'],
    StripGPS => ['gps:all='],
);
